.react-checkbox {
    display: inline-block;
    vertical-align: middle;

    .hidden-checkbox {
        border: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }

    .style-checkbox {
        border: 2px solid $table-header;
        border-radius: 3px;
        cursor: pointer;
        display: inline-block;
        height: 16px;
        width: 16px;

        .icon-checked {
            fill: none;
            stroke: $white;
            stroke-width: 2px;
            visibility: hidden;
        }

        &.checked {
            background: $table-header;

            .icon-checked {
                visibility: visible;
            }
        }
    }
}
