table {
    border-collapse: collapse;
    text-align: center;
    width: 50%;
    margin-top: 5px;
}

table, th, td {
    border: 1px solid black;
}
thead {
    background-color: #367C2B;
    color: #FFFFFF;
}
input{
    border: 1px solid #dfdfdf;
    margin-top: 15px;
    padding: 5px;
    width: 250px;
}
input:focus {
    border: 1px solid #377c2b;
    outline: none;
}
button{
    background-color: grey;
    color: white;
    margin-top: 15px;
}
.filter {
    display: inline-block;
    padding-right: 5px;
}
.filter input {
    margin-left: 5px;
}