@import './variables';

.react-redux-example {
    div {
      box-sizing: border-box;
    }

    .sortable-icons {
        cursor: pointer;
        padding: 5px;

        &.asc {
            transform: rotate(180deg);
        }
    }

    .table-container {
        display: block;
        width: 70%;
    }

    .flex-table {
         display: flex;
         flex-flow: column wrap;
         border-left: solid 1px $table-border;
         transition: 0.5s;

         &.pizzas {
             max-width: 388px;

             .pizza-name {
                 width: 328px
             }
             .category,
             .price {
                 width: 100px
             }
             .available-sizes {
                 width: 140px
             }

         }

         &.users {
             .last-name,
             .first-name {
                  width: 220px
             }

             .e-mail {
                 width: 250px
             }

             .address {
                 width: 250px
             }

              .contact {
                 width: 250px
             }
         }
    }

   .flex-row {
      display: flex;
      flex-flow: row nowrap;

      &.header {
          .flex-cell {
              border-top: solid 1px $table-border;
              background: $table-header;
              color: $white
          }   
      }
    }

    .flex-cell {
      display: flex;
      flex-flow: row nowrap;
      padding: 0.5em 0.5em;
      border-right: solid 1px $table-border;
      border-bottom: solid 1px $table-border;
      width: calc(100% / 4);

      &:hover {
         background: #F5F5F5;
         transition: 500ms;
      }

      &.sno {
          width: 60px;
      }
    }

    input {
        border: 1px solid $table-border;
        margin-top: 15px;
        padding: 5px;
        width: 250px;
    }

    input:focus {
        border: 1px solid $table-header-border;
        outline: none;
    }

    button {
        background-color: $table-header;
        color: white;
        margin-top: 15px;
    }

    .filter {
        display: inline-block;
        padding-bottom: 5px;
        padding-right: 5px;
    }

    .filter input {
        margin-left: 5px;
    }

    @import './loader';
    @import './tabs';
}