@import './variables';

.react-redux-example {
    div {
        box-sizing: border-box;
    }

    .sortable-icons {
        cursor: pointer;
        padding: 5px;

        &.asc {
            transform: rotate(180deg);
        }
    }

    .table-container {
        display: block;
        width: 70%;
    }

    .flex-table {
        border-left: solid 1px $table-border;
        display: flex;
        flex-flow: column wrap;
        transition: 0.5s;

        &.pizzas {
            max-width: 388px;

            .pizza-name {
                width: 328px;
            }

            .category,
            .price {
                width: 100px;
            }

            .available-sizes {
                width: 140px;
            }
        }

        &.users {
            .last-name,
            .first-name {
                width: 220px;
            }

            .e-mail {
                width: 250px;
            }

            .address {
                width: 250px;
            }

            .contact {
                width: 250px;
            }
        }

        .flex-cell {
            border-bottom: solid 1px $table-border;
            border-right: solid 1px $table-border;
            display: flex;
            flex-flow: row nowrap;
            padding: 0.5em 0.5em;
            width: calc(100% / 4);

            &:hover {
                background: #f5f5f5;
                transition: 500ms;
            }

            &.sno {
                width: 60px;
            }
        }

        .flex-row {
            display: flex;
            flex-flow: row nowrap;

            &.header {
                .flex-cell {
                    background: $table-header;
                    border-top: solid 1px $table-border;
                    color: $white;
                }
            }
        }
    }

    input {
        border: 1px solid $table-border;
        margin-top: 15px;
        padding: 5px;
        width: 250px;
    }

    input:focus {
        border: 1px solid $table-header-border;
        outline: none;
    }

    button {
        background-color: $table-header;
        color: white;
        margin-top: 15px;
    }

    .filter {
        display: inline-block;
        padding-bottom: 5px;
        padding-right: 5px;
    }

    .filter input {
        margin-left: 5px;
    }

    @import './loader';
    @import './tabs';
}
